#advertTextArea{
    width : 500px;
}
.top{
    background-color: rgb(229, 179, 219);
    width: 900px;
    height: 200px;
}
.validationSpan{
    color: rgb(228, 106, 122) ;     
}

input.form-control{
    margin-bottom: 10px;
}

#signButton{
    background-color:rgb(171, 59, 93);
    border-color:  rgb(148, 37, 71);
}
.linkToOtherPage{
    color: rgb(226, 43, 134);
}
.advert{
    font: 20px 'Poppins', sans-serif;
    color: #3f414d;
}
#con{
    width: 950;
    background-color: antiquewhite;
}